.view {
  width: 100%;
  overflow-x: auto;
  background-color: white !important;
  height: 410px !important;
  overflow-y: auto;
}

.sticky-col {
  position: -webkit-sticky;
  position: sticky;
}

#tom {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #fff;
}

.first-col {
  left: 0px;
  z-index: 0 !important;
  background-color: white !important;
}

.first-col2 {
  left: 0px;
  z-index: 0 !important;
}

tfoot {
  position: sticky;
  inset-block-end: 0;
  z-index: 0 !important;
  background-color: white !important;
}

.viewSalesSummary {
  margin-top: 70px !important;
  width: 100%;
}

.wrapperSalesSummary {
  /* position: relative; */
  overflow-x: auto;
  /* white-space: nowrap; */
  background-color: white !important;
}

.sticky-colSalesSummary {
  position: -webkit-sticky;
  position: sticky;
}

.coltm4 {
  background-color: #313b3f !important;
  color: white;
  font-weight: bold;
  text-align: center;
}

.ak {
  width: 1px !important;
  background-color: white !important;
}

.first-colSalesSummary {
  left: 0px;
  z-index: 0 !important;
  background-color: white !important;
}

.first-col2SalesSummary {
  left: 0px;
  z-index: 0 !important;
}

tr {
  cursor: pointer;
}

/* Header */
.Header {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 500px) {
  .Header img {
    height: 200px;
  }
  tr{
    font-size: 13px !important;
  }
}